body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
main {
  padding: 20px;
}


header {
  background-color: #ff9900;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
header h1 {
  font-size: 2.5em;
}
header h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 5px;
}


nav{
    background-color: rgb(251, 180, 0);
    color: rgb(255, 255, 255);
    padding: 10px 0;
    box-shadow: 0 3px 5px rgb(255, 255, 255);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    position: relative;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s;
}
nav ul li a:hover{
    background-color: rgb(163, 125, 0);
}
nav ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(224, 162, 6);
    display: none;
    min-width: 100px;
    box-shadow: 0 3px 5px rgb(250, 191, 52);
}
nav ul ul li{
    padding: 12px 20px;
    color: rgb(255, 187, 0);
}
nav ul li:hover > ul{
    display: flex;
}


.container{
    border: 5px solid rgb(0, 0, 0);
    overflow: auto;
    padding: 10px;
}
.floated{
    float: left;
    width: 400px;
    height: 300px;
    margin-right: 15px;
}

.intro{
    border: 5px solid orange;
}
h2{
  color: #ffb41d;
  margin-bottom: 10px;
}
h3{
  color: #fea812;
  margin-bottom: 10px;
}
.table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table td{
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.table th{
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.table th {
  background-color: #ff9f04;
  color: white;
}


.new{
  display: flex;
  gap: 20px;
}
.card{
  background-color: rgb(253, 188, 23);
  border: 1px solid #a37000;
  border-radius: 8px;
  width: 300px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.card img{
  width: 100%;
  border-radius: 5px;
}


.contact{
    border: 5px solid orange;
    margin: 0 auto;
    max-width: 170px;
    padding: 20px;
}


footer{
    background-color: #ffa200;
    color: #473107;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
}
footer p{
    margin: 0;
}
